html {
    height: 100%;
}

body {
    height:100%;
    padding: 0;
    margin: 0;
    font-family: 'Crushed', cursive, 'Open Sans', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.legend {
    line-height: 26px;
    width: 140px;
    color: #333333;
    font-family: 'Crushed', cursive, 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 26px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

#credits p {
    margin-top: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Crushed', cursive, 'Open Sans', sans-serif;
    text-shadow: 1px 1px 4px #800080;
    color: rgb(255, 255, 255)
}

.leaflet-popup-content {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Crushed', cursive, 'Open Sans', sans-serif;
    text-shadow: 0px 0px 3px #ffffff;
    color: rgb(0, 0, 0)
}

.leaflet-popup-content-wrapper {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: transparent;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Crushed', cursive, 'Open Sans', sans-serif;
    text-shadow: 0px 0px 3px #ffffff;
    color: rgb(0, 0, 0)
}

.leaflet-container {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: transparent;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Crushed', cursive, 'Open Sans', sans-serif;
    text-shadow: 0px 0px 3px #ffffff;
    color: rgb(0, 0, 0)
}